.-Back-{
    text-align: center; background-color: teal; -webkit-text-fill-color: bisque;
}

.-Back-:hover{
    background-color: turquoise; -webkit-text-fill-color: teal;
}

.-Back-{
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    text-align: center;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 49%; 
}
.Pr1{
    background-color: rgb(199, 25, 6);
    margin-right: auto; margin-left: auto;
    width: 35%;
}

h2{
    text-align: center;
}
  
p{
    text-align: center;
}
.pr1img{display: flex;}
img{display: block; margin: auto;}

.Pr2{
    background-color: rgb(199, 25, 6);
    margin-right: auto; margin-left: auto;
    width: 35%;
}

h2{
    text-align: center;
}
  
p{
    text-align: center;
}
.pr2img{display: flex;}
img{display: block; margin: auto;}
body{
    background-image: url(https://wallpaperaccess.com/full/1544894.jpg);

}
